@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}

#Main {

    width: 100%;
}
#Content {
    height: 100%;
}
#Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icons {
    padding: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}

.sidebar-icons p {
    margin:0;
}

.sidebar-icons ion-icon {
    font-size: 1.5em;
}
#Topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
   height: 70%;
}

#search-wrapper {
    display: flex;
    height: 40%;
}
#topbar-icons {
    display: flex;

}

.topbar-icons ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 1.7em;

}
#search-bnt {
    padding: 0 0.6em;
    font-size: 1.3em;
    display:flex;
    align-items: center;
}

.Content {

    display: flex;
    flex-wrap:wrap;
    justify-content: space-between flex-start;
    margin: 0.8em;
}

.block {
    display: flex;
    flex-direction: column;
    margin: 2em;

}

#thumbnail {
   width: 500px;
}

.info { 
    display: flex;
    flex-direction: row;
    margin-top: 0.6em;
}

#epicode-logo {
    height: 50px;
}

.paragrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    font-size: 0.9em;
    margin: 0 0.5em;
}

#description{
    font-size: 0.8em;
    margin: 0 0.5em;
}